body {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif
}

.offers-modal {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/* Add rest of the CSS here. Good luck! */
